In [3]:
#lists
lst=["sai mahesh ",1,2,3,4,'a','b']

In [4]:
lst

['sai mahesh ', 1, 2, 3, 4, 'a', 'b']

In [5]:
lst[2]="hai"

In [6]:
lst

['sai mahesh ', 1, 'hai', 3, 4, 'a', 'b']

In [7]:
lst.append(10)

In [8]:
lst

['sai mahesh ', 1, 'hai', 3, 4, 'a', 'b', 10]

In [9]:
del(lst[3])

In [10]:
lst

['sai mahesh ', 1, 'hai', 4, 'a', 'b', 10]

In [12]:
print(len(lst))

7

In [13]:
lst.extend('vijayawada')

In [14]:
lst

['sai mahesh ',
 1,
 'hai',
 4,
 'a',
 'b',
 10,
 'v',
 'i',
 'j',
 'a',
 'y',
 'a',
 'w',
 'a',
 'd',
 'a']

In [15]:
lst.reverse()

In [16]:
print(lst)

['a', 'd', 'a', 'w', 'a', 'y', 'a', 'j', 'i', 'v', 10, 'b', 'a', 4, 'hai', 1, 'sai mahesh ']

In [18]:

#tuple

In [19]:
tup=('a','b',1,2,3,4.55,"sai mahesh")

In [20]:
tup

('a', 'b', 1, 2, 3, 4.55, 'sai mahesh')

In [21]:
print(tup[2])

1

In [22]:
print(tup*2) #replicating

('a', 'b', 1, 2, 3, 4.55, 'sai mahesh', 'a', 'b', 1, 2, 3, 4.55, 'sai mahesh')

In [23]:
tup1=(4,5,6)

In [24]:
tup2=tup+tup1

In [25]:
print(tup) #updating

('a', 'b', 1, 2, 3, 4.55, 'sai mahesh')

In [26]:
print(len(tup))

7

In [32]:
#dictionary

In [35]:
dit= {1:'python',2:'java',3:'c++'}

In [36]:
print(dit[1]) #accessing

python

In [37]:
del dit[2]
print(dit) #delete

{1: 'python', 3: 'c++'}

In [38]:
dit

{1: 'python', 3: 'c++'}

In [39]:
print(len(dit)) #len

2

In [40]:
print(str(dit))

{1: 'python', 3: 'c++'}

In [41]:
dit.clear()
print(str(dit))

{}

In [42]:
#string

In [44]:
a="hello"
b="letsupgrade"
print(a+" "+b)

hello letsupgrade

In [45]:
name=" sai mahesh"
length=len(name)
i=0
for n in range(-1,(-length-1),-1):
    print(name[i],"\t",name[n])
    i+=1

  	 h
s 	 s
a 	 e
i 	 h
  	 a
m 	 m
a
h 	 i
e 	 a
s 	 s
h

In [46]:
print(a*5)

hellohellohellohellohello